<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/mycss.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body>

	<H1>-------- Use of ng-include ---------</H1>
	<br>
	<div ng-controller="MultipleStoreController as multiple">
		<div ng-repeat="product in multiple.products">
			<h1 ng-include="'product-title.html'"></h1>
		</div>
	</div>

	<br>
	<H1>-------- Custom Directives ---------</H1>
	<br>
	<div ng-controller="StoreController as store">
		<div class="list-group-item" ng-repeat="product in store.products">
			
			<product-title></product-title>
			
			<img ng-src="{{product.images[0].thumb}}" />

			<product-panels></product-panels>
		
		</div>
	</div>
</body>
</html>